.favotitePageImage {
  width: 300px;
  border-radius: 20px;
}

.favoritePageMovieOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.favoritePageMovieButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.favoritePageMovieButtons button {
  width: 100%;
}

.withoutFavorites {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 300px;
}