/* Home */

.buttonsAdd {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  margin-top: 30px;
  gap: 20px;
}

.buttonsAdd button {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 30px;
  transition: 0.3s all ease-in-out;
}

.buttonsAdd button:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
}

.containerContent {
  display: flex;
  gap: 4px; /* mínimo espaço entre os itens */
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 10px 4px; /* menos espaço nas laterais */
  flex-wrap: nowrap;
}


.containerContent::-webkit-scrollbar {
  display: none; /* esconde a barra */
}

.slideWrapper {
  position: relative;
}

/* Botões escondidos inicialmente */
.sliderControls {
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.slideWrapper:hover .sliderControls {
  opacity: 1;
  pointer-events: auto;
}

.sliderControls.left {
  left: 0;
}

.sliderControls.right {
  right: 0;
}

.rowAngle {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s ease;
}

.rowAngle:hover {
  transform: scale(1.1);
}

/* Conteúdo de cada item */
.boxContent {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 260px;
  max-width: 300px;
}

.boxInformation {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.boxInformation a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.boxInformation img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  padding: 5px;
}

.boxInformation img:hover {
  border: 3px solid white;
  cursor: pointer;
}

/* Container geral */
.genericContentBox {
  margin-top: 60px;
  padding: 30px;
}

.genericContentBox h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.genericContentBox > a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.genericContentBox > a:hover {
  text-decoration: underline;
}

/* Perfil */
.liProfile {
  display: flex;
  align-items: center;
  gap: 10px;
}