.searchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.boxSearchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boxSearchInput input {
    width: 70vw;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 20px;
}

.boxSearchInput ::placeholder {
    color: white;
    opacity: 0.6;
}