:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset básico e seguro */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #000; /* opcional: fundo escuro */
  color: #fff;            /* texto branco como base */
}

a {
  text-decoration: none;
  color: inherit; /* herda a cor do elemento pai */
}

ul, ol {
  list-style: none;
}

.containerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.boxInformation {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 20px;
}

.boxInformation a {
  width: 100%;
}

.boxInformation p {
  width: 80%;
  margin: 0 auto;
}

.boxInformation img {
  border-radius: 20px;
}

.boxContent {
  display: grid;
  grid-template-rows: 5fr;
}

.boxContent img {
  width: 250px;
  transition: 0.3s all ease-in-out;
}

.boxContent img:hover {
  transform: scale(1.1);
}

.boxContent p {
  text-align: center;
}

.boxContent h1 {
  font-size: 20px;
}

.genericContentBox {
  margin-top: 100px;
  padding: 30px;
}

.liProfile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rowAngle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

/* Header */

.logoHeader img {
  width: 100px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.optionsHeader ul li a {
  transition: 0.3s all ease-in-out;
  margin: 0 auto;
}

.optionsHeader ul li a:hover {
  border-bottom: 1px solid white;
}

.optionsHeader ul  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logOutBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.authenticatedBox {
  display: flex;
  gap: 20px;
}

/* Series */

.seriesIndividualContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.serieImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.serieImage img {
  width: 50%;
  border-radius: 20px;
}

.serieInformations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  gap: 20px;
}

.inputSeassons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.inputSeassons select {
  width: 350px;
  height: 40px;
  background-color: transparent;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}

.inputSeassons select:hover {
  background-color: white;
  color: black;
}

.serieImagesIndividual {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.imagesSerie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.serieImagesIndividual img {
  width: 400px;
  transition: 0.3s all ease-in-out;
}

.serieImagesIndividual img:hover {
  transform: scale(1.1);
}

.buttonsAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.buttonsAdd button {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 30px;
  transition: 0.3s all ease-in-out;
}

.buttonsAdd button:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
}

/* Episodes */

.episodesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.episodeItem {
  width: 40%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.episodeItem img {
  width: 200px;
}

.episodeInformations {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 5px;
}

.durationYear {
  display: flex;
  align-items: center;
  gap: 20px;
}

.optionsEpisode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.optionsEpisode i {
  cursor: pointer;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  opacity: 0.3;
}

/* Filmes */

.moviesIndividualContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.moviesImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moviesImage img {
  width: 50%;
  border-radius: 20px;
}

.moviesInformations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
}

.moviesInformations p {
  margin-top: 40px;
  font-weight: bold;
}

.optionsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.optionsContent button {
  width: 200px;
  height: 50px;
  background-color: rgb(99, 0, 0);
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
}

.optionsContent button:hover {
  background-color: red;
  cursor: pointer;
}

.optionsContent i {
  cursor: pointer;
}

.moviesImagesIndividual {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.imagesMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.moviesImagesIndividual img {
  width: 400px;
  transition: 0.3s all ease-in-out;
}

.moviesImagesIndividual img:hover {
  transform: scale(1.1);
}

.movieDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Login */

.loginContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  color: #000;
  width: 500px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

.cabecalhoLogin {
  text-align: center;
}

.loginBox {
  padding: 50px;
}

.loginBox h1 {
  font-size: 15px;
}

.loginBox input {
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
}

.inputLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

.imageLogin img {
  width: 100px;
}

.buttonLogin button {
  width: 100%;
  height: 45px;
  margin-top: 40px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  color: #000;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.buttonLogin button:hover {
  background-color: #000;
  color: white;
}

.othersLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.registerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.inputLogin input {
  color: #000;
}

.inputLogin input{
  padding-left: 10px;
}

.success {
  background-color: #d4edda;
  color: #155724;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #c3e6cb;
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
}
.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}

/* Divider */

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000000;
}
.divider::before {
  margin-right: 10px;
}
.divider::after {
  margin-left: 10px;
}

/* Welcome */

.welcome {
  padding: 30px;
}

.welcome h1 {
  font-family: sans-serif;
  font-weight: lighter;

}

/* Footer */

.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

/* Adicionar Temporadas */

.boxAddSeasson {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addSeasson {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.addSeasson input {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  color: #000;
  padding-left: 10px;
}

.buttonAddContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buttonAddContainer button {
  width: 230px;
  height: 40px;
  border-radius: 20px;
  background-color: #721c24;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.buttonAddContainer button:hover {
  background-color: red;
}

