:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.containerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.boxInformation {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 20px;
}

.boxInformation p {
  width: 80%;
  margin: 0 auto;
}

.boxContent img {
  width: 250px;
  transition: 0.3s all ease-in-out;
}

.boxContent img:hover {
  transform: scale(1.1);
}

.boxContent p {
  text-align: center;
}

.boxContent h1 {
  font-size: 20px;
}